sarif-om
jschema_to_python
defusedxml
gitpython
git+https://github.com/ShiftLeftSecurity/scan-reports.git
appthreat-depscan
requests
urllib3
bandit
ansible-lint
pipenv
checkov==2.4.6
yamllint
rich
PyGithub>=1.59
PyYAML
blint
packaging
